* {
    font-family: var(--font-family);
}

.container {
    max-width: 1120px;
    padding: 0 30px;
    margin: 0 auto;

    @media (max-width: 576px) {
        padding: 0 15px;        
    }
}

.title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.74px;
    color: #000;
}