.header {
    padding: 25px 0;

    // &__container {}

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    // &__logo {}

    &__contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.tel {
    font-weight: 600;
    font-size: 18px;
    line-height: 24.55px;
    color: #000;
}

.free-call {
    font-weight: 400;
    font-size: 15px;
    line-height: 20.46px;
    color: #999999;
}

@media (max-width: 576px) {
    .header {
        padding: 12px 0px;

        &__contact-info {
            display: none;
        }
    }
}