.item-group {

    &__container {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}